.add_cart {
    width: 100px;
    text-transform: uppercase;
    color: tomato;
    /* transform: var(--transition-time); */
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
}

.product_picuture {
    width: 347px;
    height: 500px;
    object-fit: cover;
    border-radius: 186px 186px 60px 60px;
    object-position: 50%;
    /* transform: translateX(-50%); */
}